 <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>ByteParity Technologies is founded on the principle of providing technology solutions to enterprises by understanding their business needs. We are focusing on cutting edge technologies to serve Portals, eCommerce, mobility and analytics to help achieve enterprises on their digital transformation journey. We leverage our expertise in domain and latest technologies to give a winning edge to our clients.</p>
            </div>
        </div>

    

