
<md-toolbar>
      <md-input-container class="col-md-6">
            <input md-input placeholder="Search for movies..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchMovies()">
        </md-input-container>
        <button md-raised-button type="button" (click)="searchMovies()" >Go!</button>
</md-toolbar>


<div *ngIf="loading">
    <md-progress-spinner style="margin:0 auto;" mode="indeterminate"></md-progress-spinner>
</div>

<div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let movie of movies | paginate: { itemsPerPage: 9, currentPage: p}">
    <md-card class="example-card m-t-20">
        <md-card-header>
            <md-card-title class="card-title m-b-10"><strong>{{ movie.title }}</strong></md-card-title>
            
        </md-card-header>
        <img md-card-image src="{{ imgUrl }}{{ movie.image_file || 'images/default.jpg' }}" style="min-height: 300px; max-height: 300px;">
        <md-card-content>
            <h4><span class="label label-default">{{ movie.release_date | date:longDate }}</span> &nbsp; <span class="label label-default">{{ movie.language.lang_name }}</span></h4>
            <p class="short-description">
            {{ movie.movie_description | truncate : 200 : "..." }}
            </p>
        </md-card-content>
        <md-card-actions class="alink">
            <a routerLink="/movie/{{movie.id}}" md-button >Read More</a>
        </md-card-actions>
    </md-card>
</div>
<div class="col-md-12 m-t-20" style="cursor: pointer;" *ngIf="movies?.length > 9">
  <pagination-controls (pageChange)="goTop()" (pageChange)="p = $event"></pagination-controls>  
</div>
