<div *ngIf="loading">
    <md-progress-spinner style="margin:0 auto;" mode="indeterminate"></md-progress-spinner>
</div>

<div class="col-md-12" *ngIf="loading==false">
  <md-card class="example-card">
  <md-card-header>
    <md-card-title class="card-title"><strong>{{ genre.genre_type }}</strong></md-card-title>
  </md-card-header>
  <md-card-content>
    <p>
      {{ genre.genre_description }}
    </p><br/>
     <md-toolbar class="m-b-10" *ngIf="genre.movie_genres != ''"><h3>Related Movies</h3></md-toolbar>
     
      <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let genremovie of genre.movie_genres">
            <md-card class="example-card m-t-20">
                <md-card-header>
                    <md-card-title class="card-title m-b-10"><strong>{{ genremovie.movie.title }}</strong></md-card-title>
                    
                </md-card-header>
                <img md-card-image src="{{ imgUrl }}{{ genremovie.movie.image_file || 'images/default.jpg' }}" style="min-height: 300px; max-height: 300px;">
                <md-card-content>
                    <h4><span class="label label-default">{{ genremovie.movie.release_date | date:longDate }}</span></h4>
                   
                    <p class="short-description">
                    {{ genremovie.movie.movie_description | truncate : 200 : "..." }}
                    </p>
                </md-card-content>
                <md-card-actions class="alink">
                    <a routerLink="/movie/{{genremovie.movie_id}}" md-button >Read More</a>
                </md-card-actions>
            </md-card>   
        </div>
      </div>

  </md-card-content>
  <md-card-actions>
    <button md-button routerLink="/genres">Back</button>
  </md-card-actions>
</md-card>
</div>